body {
  overflow: hidden;
  opacity: 0.55;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.select-mode:hover {
  cursor: crosshair;
}

#selected-area {
  position: absolute;
  border: 2px solid #CCC;
  display: none;
}

#selected-area.loading {
  animation: anim-loading 5s infinite;
}

#selected-area.finished {
  animation: anim-finished 3s infinite;
}

@keyframes anim-loading {
  50% {
    border-color: #ffee58;
  }
  100% {
    border-color: #f9a825;
  }
}

@keyframes anim-finished {
  50% {
    border-color: #4eff22;
  }
}
